.get {
    background-color: #F4F4F4;
    border-radius: 16px;
    border: none;
}

.get .text {
    padding: 50px 0 20px 84px;
}

.get h1 {
    font-size: 40px;
    width: 350px;
}

.get .picture img {
    width: 625px;
}

.register {
    margin: 100px 0;
}

.register .left {
    padding: 8px 0 0 84px;
    background-color: #F4F4F4;
    border-radius: 16px;
    border: none;
}

.register p {
    color: #767D84;
}

.register .left img {
    width: 500px;
    float: right;
    margin-top: 35px;
}


.register .right .top {
    padding: 80px 0 80px 84px;
    background-color: #F4F4F4;
    border-radius: 16px;
    border: none;
}

.register .right p {
    width: 280px;
}

.register .right .top img {
    float: right;
    margin-top: -180px;
}

.register .right .bottom {
    padding: 80px 0 80px 84px;
    background-color: #F4F4F4;
    border-radius: 16px;
    border: none;
}

.register .right p {
    width: 280px;
}

.register .right .bottom img {
    float: right;
    margin-top: -250px;
}