.get {
    background-color: #F4F4F4;
    border-radius: 16px;
    border: none;
}

.get:hover{
    border: 1px solid transparent;
    border-image-source: linear-gradient(154.55deg, #FC4981 11.28%, #FF5C00 48.34%, #A73DE0 63.65%);
    border-image-slice: 5;

    animation: bounceIn; 
  animation-duration: 5s;
}

.get .text {
    padding: 50px 0 20px 84px;
}

.get h1 {
    font-size: 40px;
}

.get .picture img {
    width: 100%;
    margin-top: 80px;
}

.register {
    margin-top: 10px;
}

.register .left {
    padding: 20px 0 0 50px;
    background-color: #F4F4F4;
    border-radius: 16px;
    border: none;
}

.register p {
    color: #767D84;
}

.register .left img {
    width: 100%;
    float: right;
}


.register .right .top,
.register .right .bottom {
    padding: 10px 0 0 20px;
    background-color: #F4F4F4;
    border-radius: 16px;
    display: block;
}

.register .right h3,
.register .bottom h3 {
    padding: 10px 0 0 20px;
}

.register .right p{
    padding: 10px 0 20px 20px;
}

.register .left:hover {
    border: 1px solid transparent;
    border-image-source: linear-gradient(154.55deg, #FC4981 11.28%, #FF5C00 48.34%, #A73DE0 63.65%);
    border-image-slice: 1;
}

.register .right .top:hover{
    border: 1px solid transparent;
    border-image-source: linear-gradient(154.55deg, #FC4981 11.28%, #FF5C00 48.34%, #A73DE0 63.65%);
    border-image-slice: 1;

    animation: shake 0.80s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    perspective: 1000px;
}


.register .right .bottom:hover {
    border: 1px solid transparent;
    border-image-source: linear-gradient(154.55deg, #FC4981 11.28%, #FF5C00 48.34%, #A73DE0 63.65%);
    border-image-slice: 1;

    animation: shake 0.80s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    perspective: 1000px;
}

@keyframes shake {

    10%,
    90% {
        transform: translate3d(-2px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-5px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(5px, 0, 0);
    }
}