body {
  color: #131313;
  width: 90%;
  margin: auto;
}

/* Header */
.header {
  text-align: center;
  margin-top: 50px;
  background-color: #F4F4F4 transparent;
  padding-top: 50px;
}

.header .logo {
  background-color: #D2D2D2;
  padding: 7px 10px;
  border-radius: 8px;
}

.header h2{
font-size: 64px;
font-weight: 500;
line-height: 71px;
margin-top: 24px;
}

.header p {
font-size: 16px;
font-weight: 400;
line-height: 20px;
color: #ADB5BD;
padding-top: 0;
margin-top: 36px;
}

.header .button {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  gap: 20px;
}

.header .vector {
  width: 100%;
  height: 320px;
  margin-top: 200px;
}

.header .phone {
  background-image: url(./assets/images/Vector.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
 margin-top: 50px;
}


/* CEO */
.ceo {
  text-align: center;
  margin: 150px auto;
}

.ceo h2 {
font-size: 32px;
font-weight: 700;
line-height: 36px;
text-align: center;
word-spacing: 3px;
}

.ceo-name {
  display: flex;
  justify-content: center;
  text-align: left;
  align-items: center;
}

.ceo-name img {
  width: 35px;
  height: 35px;
  margin-right: 10px;
}

.walkthrough {
  text-align: center;
  margin-top: 180px;
  margin-bottom: 35px;
}

.walkthrough p {
  color: #495057;
  font-weight: 500;
}

.walkthrough h2 {
font-size: 32px;
font-weight: 500;
line-height: 36px;
color: #0d0d0d;
}

.walkthrough h5 {
font-size: 14px;
font-weight: 400;
line-height: 23px;
color: #ADB5BD;
}


.payment {
  text-align: center;
  margin-top: 180px;
  margin-bottom: 35px;
}

.payment p {
  color: #495057;
  font-weight: 500;
}

.payment h2 {
font-size: 32px;
font-weight: 500;
line-height: 36px;
color: #0d0d0d;
}

.payment h5 {
font-size: 14px;
font-weight: 400;
line-height: 23px;
color: #ADB5BD;
}

